<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.system.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.learn.system.model.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="orderNum" jdbcType="INTEGER" property="order"/>
        <result column="isActive" jdbcType="INTEGER" property="isActive"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, parent_id, url, permission, type, icon, orderNum, isActive
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from l_menu
    </select>

    <select id="findByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
  	    SELECT m.*
        FROM
             l_menu m,
            l_user u,
            l_user_role ur,
            l_role_menu rm,
             l_role r
        WHERE u.account = #{account}
        AND u.id = ur.user_id
        AND ur.role_id = r.id
        AND r.id = rm.`role_id`
        AND rm.menu_id = m.id
    </select>

</mapper>